.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{border: solid 1px;}

.App-body {
  background-color: #759eda;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font: Raleway;
}
.header{
  height: 20px;
}
.App-link {
  color: #61dafb;
}

