.App {
  text-align: center;
}

.header{
  display: flex;
  height: 13vh;
  background-color: #759eda;
  align-items: center;
}
.london{
  margin-left: 2%;
  font-weight: 400;
  color: white;
}


.find-Weather-btn{
margin-left: 20%;
padding: 2vh;
color: rgb(0, 0, 0);
background-color: #5879c7;
font-size: 20px;
font-weight:100;
border: none;

}

.main{
  margin-top:-10vh;
  width: 40vh;
  
}
.white-weather{
  font-size: 40px;
  margin-top: 1vh;
  margin-bottom:1vh;
}
.App-body {
  background-color: #9ccef4;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font: Raleway;
}
.dailyCloud{
  width: 70%;
}
.daily-temp{
  display: flex;
  flex-direction: row;
  color: black;
  align-content: space-between;
  margin-top: 1vh;
  margin-bottom:1vh;
}
.temp{
  font-size: 25px;
}
.hum{
  font-size: 20px;
}
.daily-temp>div{
  padding-right: 1vh;
}
.daily-weather{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.weekly-weather{
  margin-top: 5vh;
}
.weekly-weather div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  
}
.weekly-weather div p{
width: 20vh;
}


.weekCloud{
  width: 10vh;
padding-right:11vh;
}
.white-weather{
  font-size: 30px;
}