.App {
  text-align: center;
}


 *{border: solid 1px;} 


.header{
  display: flex;
  height:15vh;
  background-color: #759eda;
  align-items: center;
}
.london{
  margin-left: 2%;
  font-weight: 400;
  color: white;
}


.find-Weather-btn{
margin-left: 20%;
padding: 2vh;
color: black;
background-color: #5879c7;
font-size: 25px;
font-weight:100;
border: none;

}


.App-body {
  background-color: #9ccef4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font: Raleway;
}
.image{

}
